-content_for :title do
  ="#{@artist.name} - Cheesecake Studio"

%h1=@artist.name

%h3 Known for:
#artists
  -@artist.comics.each do |comic|
    %a{href: comic_path(comic), class: "thumbnail"}
      =image_tag comic.front_page
      =comic.title
