=form_for [:backend, @chapter.comic, @chapter, @comic_page] do |f|
  %em Image height constraint is 865px and width constraint is 600. Thank you.
  .control-group
    =f.label :page_order, :class => "control-label"
    .controls
      =f.text_field :page_order
  .control-group
    =f.label :comic_page_image, :class => "control-label"
    .controls
      =f.file_field :comic_page_image
  .form-actions
    =f.submit :class => "btn btn-primary"