-content_for :title do
  Illustratios - Cheesecake Studio
%h1 All our illustrations
%p These are illustrations by our artists. Enjoy.
#pages
  -@illustrations.each do |illustration|
    .page
      %a{:href => illustration_url(illustration)}
        =image_tag illustration.image.url(:thumb)
      %h4=link_to illustration.title, illustration_path(illustration)
