=form_for [:backend, @artist] do |f|
	.control-group
		=f.label :firstname, :class => "control-label"
		.controls
			=f.text_field :firstname
	.control-group
		=f.label :suffix, :class => "control-label"
		.controls
			=f.text_field :suffix
	.control-group
		=f.label :lastname, :class => "control-label"
		.controls
			=f.text_field :lastname
	.control-group
		=f.label :website, :class => "control-label"
		.controls
			=f.text_field :website
	.control-group
		=f.label :slug, :class => "control-label"
		.controls
			=f.text_field :slug
	.form-actions
		=f.submit :class => "btn btn-primary"