%h1 Artists

%table.table.table-striped.table-bordered
  %tr
    %th Name
    %th Nickname
  - @artists.each do |artist|
    %tr
      %td=artist.name
      %td
        =link_to 'Edit', edit_backend_artist_path(artist), class: 'btn btn-mini btn-success'
        =link_to "Delete", backend_artist_path(artist), :method => :delete, class: "btn btn-mini btn-danger"
.form-actions
  =link_to 'Nieuw', new_backend_artist_path, class: "btn btn-primary btn-large"
