-content_for :title do
  ="Our comics - Cheesecake Studio"
%h1 All our comics
%p Below you find all the comics we support
#pages
  -@comics.each do |comic|
    .page
      %a{:href => comic_url(comic)}
        =image_tag comic.front_page unless comic.front_page.blank?
      %h4=link_to comic.title, comic_path(comic)
