-content_for :title do
  ="#{@comic.title} - Cheesecake Studio"

%h1=@comic.title
=raw(@comic.description)
%a{:href => @comic.website, :target => "_blank"}
  Visit website &rarr;
-@comic.chapters.each do |chapter|
  .clear-fix
    %h2=chapter.title
  #pages
    -chapter.comic_pages.each do |page|
      .page.thumbnail
        %a{:href => comic_comic_page_url(comic_id: params[:id], id: page.id)}
          =image_tag page.comic_page_image.url(:thumb)
