#below_home
  .span4
    %h1 News
    -@news.each do |item|
      .well.news_item
        %h2
          =link_to item.title, news_path(item)
        %span.small
          =item.created_at.to_s(:ordinal)

  .span4
    %h1 About us
    %p CheeseCake! Studio was founded in 2004 and is still creating cool underground comics in manga influenced style. Next to that, it's one of the oldest Doujinshi groups of the Netherlands. 

    %p Next to that they're pretty whacky, loud and drunk on comic/anime conventions so they can be quite scary. But they're very sweet on the inside, just like a CheeseCake ♥!
  .span4
    %h1 Social Media
    %p  Like us on facebook!
    #fb-root
    %div(class="fb-like" data-send="true" data-href="https://www.facebook.com/pages/CheeseCake-Studio/214936311863933" data-layout="button_count" data-width="300" data-show-faces="false")
#below
  .span4
    %h1 Top Artists
    %ul
      -@artists.each do |a|
        %li=link_to a.name, artist_path(a)
    
