-content_for :title do
  News - Cheesecake Studio

%h1 News
#newsitems
  - @news.each do |item|
    .hero-unit
      %a{href: news_url(item)}
        %h1=item.title
      =raw(truncate(item.body, :length => 80))
      %p=link_to raw("Read more &rarr;"), news_path(item), :class => "btn btn-primary"
= paginate @news