=form_for [:backend, @news] do |f|
	.control-group
		=f.label :title, :class => "control-label"
		.controls
			=f.text_field :title
	.control-group
		=f.label :body, :class => "control-label"
		.controls
			=f.text_area :body
	.form-actions
		=f.submit :class => "btn btn-primary"
