%h1 News

%table.table.table-striped.table-bordered
	%tr
		%th Title
		%th Date

	- @news.each do |news|
		%tr
			%td=link_to news.title, backend_news_path(news)
			%td=news.created_at
			%td
				=link_to "Edit", edit_backend_news_path(news)
				=link_to "Delete", backend_news_path(news), :method => :delete
=link_to 'Nieuw', new_backend_news_path, :class => "btn btn-primary btn-large"