%h1 Chapters
%table.table.table-striped.table-bordered
	%tr
		%th Chapter title
		%th Chapter comic name
	- @chapters.each do |chapter|
		%tr
			%td=chapter.title
			%td=chapter.comic.title
			%td
				=link_to "Edit", edit_backend_comic_chapter_path(comic_id: chapter.comic.slug, id: chapter.id)

=link_to 'Nieuw', new_backend_comic_chapter_path, :class => "btn btn-primary btn-large"