%h1=@chapter.title
#pages
  -@pages.each do |page|
    %a{class: 'page thumbnail', href: edit_backend_comic_chapter_comic_page_url(comic_id: @chapter.comic.id, chapter_id: @chapter.id, :id => page)}
      =image_tag page.comic_page_image.url(:thumb)
  .clearfix
.form-actions
  =link_to 'New', new_backend_comic_chapter_comic_page_path(@chapter.id, comic_id: @chapter.comic.slug), class: "btn btn-large btn-inverse"
