-content_for :title do
  ="#{@leftpage.chapter.title} - #{@comic.title} - Cheesecake Studio"
%h1=@comic.title
%h3=@leftpage.chapter.title
.control-group{style: "text-align: center"}
  %label.control-label
    Quick select
  .controls=select_tag 'quick', option_groups_from_collection_for_select(@chapters, :comic_pages, :title, :id, :name), :id => "quick_select", :class => "customDropdown"

#leftpage
  -if @previouspage
    %a{:href => comic_comic_page_url(:id => @previouspage.id )}
      =image_tag @leftpage.comic_page_image unless @leftpage.nil?
  -else 
    =image_tag @leftpage.comic_page_image unless @leftpage.nil?
#rightpage
  -if @nextpage
    %a{:href => comic_comic_page_url(:id => @nextpage.id)}
      =image_tag @rightpage.comic_page_image unless @rightpage.nil?
  -else
    =image_tag @rightpage.comic_page_image unless @rightpage.nil?
.clearance