=form_for [:backend, @comic] do |f|
  .control-group
    =f.label :title, :class => "control-label"
    .controls
      =f.text_field :title
  .control-group
    =f.label :website, :class => "control-label"
    .controls
      =f.text_field :website
  .control-group
    =f.label :description, :class => "control-label"
    .controls
      =f.text_area :description
  .control-group
    =f.label :artists, :class => "control-label"
    .controls
      =f.select :artist_ids, options_from_collection_for_select(Artist.all, 'id', 'name'), {multiple: true}
  .control-group
    =f.label :front_page, :class => "control-label"
    .controls
      =f.file_field :front_page
  .form-actions
    =f.submit :class => "btn btn-primary"
