%h1 Comics

%table.table.table-striped.table-bordered
	%tr
		%th Comicname
		%th Comicslug
		%th Options

	- @comics.each do |comic|
		%tr
			%td=link_to comic.title, backend_comic_path(comic)
			%td=comic.slug
			%td
				=link_to "Edit", edit_backend_comic_path(comic), class: "btn btn-mini btn-success"
				=link_to "Delete", backend_comic_path(comic), :method => :delete, class: "btn btn-mini btn-danger"
=link_to 'Nieuw', new_backend_comic_path, :class => "btn btn-primary btn-large"
