%h1=@comic.title
%h3.sub-title Chapters

%table.table.table-striped.table-bordered
  %tr
    %th Chapter
    %th

  - @comic.chapters.each do |chapter|
    %tr
      %td
        View chapter:
        =link_to chapter.title, backend_comic_chapter_path(chapter.id, :comic_id => chapter.comic.slug)
      %td
        =link_to "Edit", edit_backend_comic_chapter_path(id: chapter.id, comic_id: @comic.id)
        =link_to "Delete", backend_comic_chapter_path(chapter_id: chapter.id, comic_id: @comic.id), :method => :delete
    %tr
      %td{colspan: 5} Pages for chapter
    - chapter.comic_pages.each do |page|
      %tr
        %td=page.page_order
        %td=link_to 'Edit', edit_backend_comic_chapter_comic_page_path(comic_id: @comic.id, chapter_id: page.chapter.id, id: page.id)

=link_to 'Nieuw', new_backend_comic_chapter_path(:comic_id => @comic.slug), :class => "btn btn-primary btn-large"
