%h1 New admin

=form_for [:backend,@admin], class: 'form-horizontal' do |f|
  .control-group
    =f.label :email
    .controls
      =f.text_field :email
  .control-group
    =f.label :password
    .controls
      =f.password_field :password
  .control-group
    =f.label :password_confirmation
    .controls
      =f.password_field :password_confirmation

  .form-actions
    =f.submit 'Save', class: 'btn btn-large btn-primary'
