.box-shadow (@x: 0, @y: 0, @blur: 1px, @color: #000) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
}

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.text-shadow (@string: 0 0 0 rgba(0, 0, 0, 0.25)) {
  text-shadow: @string;
}
.box-shadow (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow:    @string;
  box-shadow:         @string;
}
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
  -webkit-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
  -moz-box-shadow:  @x @y @blur @spread rgba(0, 0, 0, @alpha);
  box-shadow:   @x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
  -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
  -moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
  box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.box-sizing (@type: border-box) {
  -webkit-box-sizing: @type;
  -moz-box-sizing:    @type;
  box-sizing:         @type;
}

.border-radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius:    @radius;
  border-radius:         @radius;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}
.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius:    @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius:  @bottomleft;
  -webkit-border-top-left-radius:     @topleft;

  -moz-border-radius-topright:        @topright;
  -moz-border-radius-bottomright:     @bottomright;
  -moz-border-radius-bottomleft:      @bottomleft;
  -moz-border-radius-topleft:         @topleft;

  border-top-right-radius:            @topright;
  border-bottom-right-radius:         @bottomright;
  border-bottom-left-radius:          @bottomleft;
  border-top-left-radius:             @topleft;

  -moz-background-clip:    padding; 
  -webkit-background-clip: padding-box; 
  background-clip:         padding-box; 
}

.opacity (@opacity: 0.5) {
  -webkit-opacity:  @opacity;
  -moz-opacity:     @opacity;
  opacity:    @opacity;
}

.gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}
.horizontal-gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
  background-image: -webkit-linear-gradient(left, @startColor, @endColor);
  background-image: -moz-linear-gradient(left, @startColor, @endColor);
  background-image: -ms-linear-gradient(left, @startColor, @endColor);
  background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
  -webkit-animation: @name @duration @delay @ease;
  -moz-animation:    @name @duration @delay @ease;
  -ms-animation:     @name @duration @delay @ease;
}

.transition (@transition) {
  -webkit-transition: @transition;  
  -moz-transition:    @transition;
  -ms-transition:     @transition; 
  -o-transition:      @transition;  
}
.transform(@string){
  -webkit-transform: @string;
  -moz-transform:    @string;
  -ms-transform:     @string;
  -o-transform:      @string;
}
.scale (@factor) {
  -webkit-transform: scale(@factor);
  -moz-transform:    scale(@factor);
  -ms-transform:     scale(@factor);
  -o-transform:      scale(@factor);
}
.rotate (@deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform:    rotate(@deg);
  -ms-transform:     rotate(@deg);
  -o-transform:      rotate(@deg);
}
.skew (@deg, @deg2) {
  -webkit-transform:       skew(@deg, @deg2);
  -moz-transform:    skew(@deg, @deg2);
  -ms-transform:     skew(@deg, @deg2);
  -o-transform:      skew(@deg, @deg2);
}
.translate (@x, @y:0) {
  -webkit-transform:       translate(@x, @y);
  -moz-transform:    translate(@x, @y);
  -ms-transform:     translate(@x, @y);
  -o-transform:      translate(@x, @y);
}
.translate3d (@x, @y: 0, @z: 0) {
  -webkit-transform:       translate3d(@x, @y, @z);
  -moz-transform:    translate3d(@x, @y, @z);
  -ms-transform:     translate3d(@x, @y, @z);
  -o-transform:      translate3d(@x, @y, @z);
}
.perspective (@value: 1000) {
  -webkit-perspective:  @value;
  -moz-perspective:   @value;
  -ms-perspective:  @value;
  perspective:    @value;
}
.transform-origin (@x:center, @y:center) {
  -webkit-transform-origin: @x @y;
  -moz-transform-origin:    @x @y;
  -ms-transform-origin:     @x @y;
  -o-transform-origin:      @x @y;
}

.container{
  .rounded-corners(3px);
}

html{
}
body.home{
  .container{
    background: white;
  }
}

#sidebar{
  .well{
    margin: 20px 20px 20px 0;
    .rounded-corners(3px);
  }
}

.row{
  margin-left: 0;
}
body{
  .container{
    width: 1200px;
    background: white url('bg.png');
  }
  padding-top: 0px;
  background: url('stars_bg.gif');

  #home{
    background: url('home_bg.png') no-repeat center 120px;
    height: 708px!important;
    width: 100%;
    position: absolute;
    top: 0px;
    #blocks {
      height: 548px;
      width: 1200px;
      margin: 0 auto;
      margin-top: 150px;

      .block {
        width: 360px;
        background: #fdd797;
        height: 548px;
        float: left;
        margin-left: 20px;
        margin-right: 20px;
        position: relative;
        overflow: hidden;
        img{
          
        }
        .box-shadow(2px, 2px, 8px, rgba(0,0,0,0.4));
        .description{
          padding: 10px;
          color: white;
          position: absolute;
          height: 120px;
          width: 340px;
          bottom:0;
          display: none;
          background: rgba(0,0,0, 0.8);
          .button{
            font-weight: bold;
          }
        }
      }
    }
  }
  header{
    &.small{
      height: 30px;
      #top{
        h1.logo{
          font-size: 10px;
          margin-top: -5px;
          padding: 0;
        }
        #menu{
          h1{
            font-size: 10px;
            padding: 0;

          }
        }
      }
    }
    position: relative;
    z-index: 2;
    height: 70px;
    background-color: #353535;
    #top{
      width: 1200px;
      margin: 0 auto;
      #menu{
        width: 450px;
        float: right;

        &.nav{
          li{
            text-align: left;
            margin-left: 20px;
            background: url('white_logo_menu.png') no-repeat -10px;
            background-size: 40px;
            padding-left: 30px;
            a{
              &:hover{
                h1{
                  color: lighten(#fcb030, 20%);
                }
                .subtext{
                  color: #eaeaea;
                }
              }
              h1{
                margin-bottom: -5px;
                color: #fcb030;
                text-transform: uppercase;
              }
              .subtext{
                color: white;
                .text-shadow()!important;
              }
              padding: 0;
            }
          }
        }
      }
      a{
        h1.logo{
          background: url('logo.png') no-repeat -15px;
          background-size: 70px;
          font-size: 35px;
          
          text-transform: uppercase;
          width: 400px;
          float: left;
          margin: 0;
          padding: 15px 0;
          padding-left: 50px;
          i.white{
            color: white;
            font-style: normal;
          }
        }
        &:hover{
          h1.logo{
            color: lighten(#fcb030, 20%);
          }
          i{
            color: #eaeaea;
          }
       }
      
      }
    }
  }
}
#below_home{
  margin-top: 650px;
}
#main{
  position: relative;
  width: 1200px;
  padding-top: 20px;
  .box-shadow(0px, 0px, 10px, rgba(0,0,0,0.4));
  margin: 0 auto;
  min-height: 1000px;
  #more {
    position: absolute;
    top: 80px;
    height: 300px;
    width: 30px;
    right: -30px;
    z-index: 100;
    background: url('more_comics.png') no-repeat;
    &:hover {
      background: url("more_comics_hover.png") no-repeat;
    }
  }
}
#pages{
  .page{
    width: 150px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 213px;
    border: 1px solid #A1A1A1;
    .box-shadow(0px, 0px, 7px, rgba(0,0,0, 0.5));
    &:hover{
      border-color: #fcb030;
      .box-shadow(0px, 0px, 7px, rgba(194,94,21, 0.9));
    }
    a{
      img{
        height: 213px;
      }
    }
  }
}

#artists{
  a.thumbnail{
    width: 200px;
    float: left;
    margin-right: 20px;
  }
}
footer{
  width: 100%;
  background: #FCB030;
  height: auto;
  padding: 20px 0;
  margin: 0 auto;
  position: relative;
  z-index: 5;
  color: darken(spin(#fcb030, 2), 30%);
  .text-shadow(1px 1px lighten(#fcb030, 10%));
  .container{
    background: none!important;
    .row{
      .span4{
        border-right: 1px solid darken(spin(#fcb030, 2), 20%);
        height: 200px;
        width: 369px;
        
      }
      .span4.last{
        border: 0!important;
      }
      .links{
        text-align: center;
        span{
          padding: 20px 40px;
          a{
            color: darken(spin(#fcb030, 2), 30%);
            &:hover {
              color: #522e00;
            }
          }
        }
      }
      .copyright{
        color: darken(spin(#fcb030, 2), 30%);
        .text-shadow(1px 1px lighten(#fcb030, 10%));
        padding: 20px 0 20px 0;
        margin-top: 0px;
        p{ text-align: center; }
      }
    }
  }
}

#quick_select{
  font-size: 18px!important;
  width: 130px;
}

#leftpage{
  width: 600px;
  float: left;
  margin-left: 25px;
}

#rightpage{
  width: 600px;
  float: right;
  margin-right: 25px
}

#newsitems{
  .hero-unit{
    padding: 20px;
    margin-right: 20px;
  }
}

.clearance{
  height: 40px;
  clear: both;
}
