=form_for [:backend, @illustration] do |f|
  .control-group
    =f.label :title, :class => "control-label"
    .controls=f.text_field :title
  .control-group
    =f.label :description, :class => "control-label"
    .controls=f.text_area :description
  .control-group
    =f.label :artist, :class => "control-label"
    .controls
      =f.select :artist_id, options_from_collection_for_select(Artist.all, 'id', 'name'), {multiple: true}
  .control-group
    =f.label :image
    .controls=f.file_field :image
  .form-actions
    =f.submit :class => "btn btn-primary"
