%table.table.table-striped.table-bordered
  %tr
    %th Title
  - @illustrations.each do |illustration|
    %tr
      %td=illustration.title
      %td
        =link_to "Edit", edit_backend_illustration_path(illustration)
        =link_to "Delete", backend_illustration_path(illustration), :method => :delete

.form-actions
  =link_to 'New Illustration', new_backend_illustration_path()