.container{style: 'width: 1200px;'}
  .row
    .span12.copyright
      %p &copy; 2012 Cheesecake Studios - Powered by SpaceSquared/Omnidimensional
    .span12.links
      %span=link_to 'Home', root_path
      |
      %span=link_to 'News', news_index_path
      |
      %span=link_to 'Comics', comics_path
      |
      %span=link_to 'Artists', artists_path
      |
      %span=link_to 'Contact', '#'

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34281301-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();