%ul#menu.nav
  %li
    %a{:href=> comics_url}
      %h1 Read
      .subtext
        our comics
  %li
    %a{:href=> artists_url}
      %h1 Meet
      .subtext
        our artists
  %li
    %a{:href=> illustrations_url}
      %h1 Check
      .subtext
        our prints