#sidebar
  #about.well
    %h3 About us
    %p CheeseCake! Studio was founded in 2004 and is still creating cool underground comics in manga influenced style. Next to that, it's one of the oldest Doujinshi groups of the Netherlands. 

    %p Next to that they're pretty whacky, loud and drunk on comic/anime conventions so they can be quite scary. But they're very sweet on the inside, just like a CheeseCake ♥!

  %ul.nav.nav-list.well
    %li
      =link_to 'Artists', artists_path
    %li
      =link_to 'Comics', comics_path
    %li
      =link_to 'Illustrations', illustrations_path
    %li.divider
      Where you also can find us
    %li
      =link_to 'J-Pop Foundation', 'http://www.jpop-foundation.com/', target: :blank
    %li
      =link_to 'Animecon', 'http://www.animecon.nl/', target: :blank
