!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Uncomment to make IE8 render like IE7
    / <meta http-equiv="X-UA-Compatible" content="IE=7" />
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Cheesecake Studio"
    / Included CSS Files
    = stylesheet_link_tag    "application"
    / Included JS Files
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link(href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css')
    %meta{:name => 'description', :content => "CheeseCake! Studio was founded in 2004 and is still creating cool underground comics in manga influenced style. Next to that, it's one of the oldest Doujinshi groups of the Netherlands."}
    %meta{:name => 'keywords', :content => "cheesecake, studio, doujinshi, artists, comics, lasertrain, abunai, animecon, anime, manga, drawings, prints, cruor, japan, weeaboo, beer"}
  %body.home
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=375475549193050";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    %header.navbar
      #top
        %a{:href => root_url()}
          %h1.logo 
            Cheesecake 
            %i.white Studio
        =render :partial => "common/menu"
    #main.container
      .row
        %a{:id => 'more', href: comics_url}
        = yield
    %footer 
      =render :partial => "common/footer"
    

    #home
      #blocks
        -@comics ||= []
        -@comics.each do |comic|
          .block{style: "background-image: url(#{comic.front_page.url(:home)}); background-repeat: no-repeat; background-position: center; background-size: cover;"}
            .description
              %h3= comic.title
              =raw(truncate(comic.description, :length => 80))
              =link_to raw("Read more &rarr;"), comic_path(comic), class: "button radius blue"
