!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Cheesecake"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    = stylesheet_link_tag "backend", :media => "all"
    / For third-generation iPad with high-resolution Retina display:
    / Size should be 144 x 144 pixels
    %link{:href => "images/apple-touch-icon-144x144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    / For iPhone with high-resolution Retina display:
    / Size should be 114 x 114 pixels
    %link{:href => "images/apple-touch-icon-114x114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    / For first- and second-generation iPad:
    / Size should be 72 x 72 pixels
    %link{:href => "images/apple-touch-icon-72x72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    / For non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
    / Size should be 57 x 57 pixels
    %link{:href => "images/apple-touch-icon-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
    / Size should be 32 x 32 pixels
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
  %body
    .navbar
      .navbar-inner
        .container
          %a.brand{:href => "#"} Cheesecake

    .container
      .content
        .row
          .span9
            - puts "\n\n\n\n\n\n\n\n"+flash.inspect.to_s
            - unless flash[:alert].blank?
              .alert.alert-danger=flash[:alert]
            - unless flash[:notice].blank?
              .alert.alert-success=flash[:notice]
            = yield
          .span3
            .well.sidebar-nav
              %h3 Navigation
              %ul.nav.nav-list
                %li.nav-header Main
                %li= link_to "Comics", "/backend/comics"
                %li= link_to "Artists", "/backend/artists"
                %li= link_to "Illustrations", "/backend/illustrations"
                %li= link_to "Articles", "/backend/news"
            / /.well
          / /span
        / /row
      / /content
      %footer
        %p 
          &copy;
          %a{href: 'http://www.omnidimensional.net/'} OMNIDIMENSIONAL
          2012
    / /container
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
